<p id="notice"><%= notice %></p>

<h1>All Items</h1>

<% @listings.each do |listing| %>
  <div id="product-card">
    <h3><%= listing.listing_title %></h3>
    <p>$<%= listing.price %></p>
    <%= image_tag listing.photo %>
    <%= link_to "View Item", listing_path(listing.id) %>
  </div>
<% end %>

<br>

<%= link_to 'New Listing', new_listing_path %>
