<p id="notice"><%= notice %></p>

<p>
  <strong>Listing title:</strong>
  <%= @listing.listing_title %>
</p>

<p>
  <strong>Listing description:</strong>
  <%= @listing.listing_description %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>

<% if @listing.photo.attached? %>
<p>
  <strong>Photo:</strong>
  <%= image_tag @listing.photo %>
</p>
<% end %>

<% if current_user == @listing.user %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Delete', listing_path(@listing),
       method: :delete,
          data: { confirm: "Are you sure?" } %> |
<% end %>
<%= link_to 'Back', listings_path %>
