
<main class=" bg-gray-200 min-w-full flex min-h-screen  items-center flex-col pb-10">
  <h2 class="font-heading text-6xl text-red-600 m-5">Log in</h2>

<div id="form-fields" class="flex flex-col" >
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: "mb-2 uppercase tracking-wide font-bold text-lg text-grey-darkest" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border py-2 px-3 text-grey-darkest md:mr-2" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "mb-2 uppercase tracking-wide font-bold text-lg text-grey-darkest" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "border py-2 px-3 text-grey-darkest md:mr-2" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "mb-2 uppercase tracking-wide font-bold text-lg text-grey-darkest" %>
      </div>
    <% end %>

    <div class="actions flex justify-center">
      <%= f.submit "Log in", class: "m-5 px-2 py-2 bg-red-600 rounded-xl text-white font-semibold shadow-lg hover:bg-red-900" %>
    </div>
  <% end %>
  </div>

  <%= render "devise/shared/links" %>
</main>